@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web Scraping Solutions!</h1>
    <h2>We provide easy and efficient ways to scrape financial data.</h2>
    <h2><a href="ScrapeData/StartScraper">Scrape Yahoo Finance Data</a></h2>
</div>
