@{
    ViewData["Title"] = "Home Page";
}

        <h1>Web Scraping Made Easy!</h1>
        <p><br /></p>
        <div class="row">
            <div class="col-md-5">
                <section>
                    <p>We provide easy and efficient way to scrape financial data.</p>
                    <hr />
                    <a asp-controller="ScrapeData" asp-action="StartScraper" class="btn btn-primary m-2">
                        Request a New Scrape
                    </a>
                </section>
            </div>

            <div class="col-md-4 col-md-offset-3">
                <section>
                    <p>You can also view historical scrapes.</p>
                    <hr />
                    <a asp-controller="PastScrapes" asp-action="Index" class="btn btn-primary m-2">
                        View Past Scrapes
                    </a>
                </section>
            </div>
        </div>
